body {
 
  width: 1600px;
  
  background: white;
}
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  
}
.top-dsn{
  max-width: 1600px;
  padding:0;
}
nav {
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-image-box {
  width: 50px;
  height: 50px;
  padding: 10px;
}

.menu a {
  margin: 0 12px;
  text-decoration: none;
  color: #333;
}

.logo {
  color: green;
}

.btn {
  background:#469165;
  color: white;
  padding: 16px 46px 16px 16px;
  border-radius: 5px;
  text-decoration: none;
  justify-content: center;
  justify-items: center;
  display: flex;
  gap: 5px;
}

.hero {
  background: url(../assets/hero-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  padding: 110px 0;
  max-width: 1600px;
  height: 674px;
}

.title {
  text-align: center;
  font-size: 72px;
  max-width:1600px;
  font:bold;
}
.title-colour{
  color: #22c55e;
}
.bakcground img{
  max-width: 1600px;
}

.badge {
  background: white;
  color: green;
  padding: 5px 12px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  width: 200px;
  margin: 0px auto;
}

.hero-content {
  max-width: 1600px;
  margin: 0px auto;
  

}

.badge {
  background: white;
  color: green;
  padding: 5px 12px;
  border-radius: 20px;
  font-size: 12px;
  display: flex;
  justify-content: center;
  width: 200px;
  margin: 0px auto;
}
.hero-buttons {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  justify-items: center;
  gap: 5px;
  width: 1600px;
}

.hero h1 span {
  color: #22c55e;
}

.hero p {
  text-align: center;
}
.btn-outline {
  border: 1px solid white;
  color: white;
  padding: 10px 16px;
  border-radius: 5px;
  margin-left: 10px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  justify-items: center;
  gap: 5px;
}

.problem {
  padding: 40px 0;
  text-align: center;
  background-color: #f2f2f2;
}

.problem-title {
  font-size: 42px;
  font:600px
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.card {
  background: #ffffff;
  padding: 10px;
  height: 300px;
  width: 322px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

.card-title {
  font-size: 24px;
  margin: 0;
  font: 600px;
  width: 274px;
  height: 40;
  
}
.card-title p{
  color: #627382;
  
}
.card-icon {
  background-color:#F95555;
  border-radius: 100%;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  margin-bottom: 6px;
}

.card-icon-img {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

.solution {
  max-width: 1360px;
  height:600px ;
  margin: 0px 120px 120px 120px;
  padding: 80px 0px;
}

.solution-box {
  display: flex;
  gap: 40px;
  align-items: center;
  margin:120px 120px 120px auto;
}

.image-box img {
  width: 600px;
  height: 600px;
}
.solution-sub {
  color:#469165 ;
  font-size: 1em;
}

.solution-title {
  font-size: 48px;
  font: 2em;

}

.solution-desc {
  color: #848484;
  font-size: 1em;
}

.solution-list {
  display: flex;
  align-items: center;
  gap: 10px;
}



.text-box ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 1.5em;
  padding-left: 0;
  max-width: 700px;
  height:396px ;
}
.solution-list img {
  width: 20px;
  height: 20px;
}

.cta {
  background: #f2f2f2;
  width: 1280px;
  border-radius: 10px;
  margin: 0px auto;
  padding: 70px 0;
  margin-bottom: 50px;
  text-align: center;
}


.btnfooter {
  background:#469165;
  color: white;
  padding: 10px 16px;
  border-radius: 5px;
  text-decoration: none;
  justify-content: center;
  justify-items: center;
  display: flex;
  gap: 5px;
  width: 200px;
  margin: 0px auto;
}
.container h2{
  font-size: 3em;
font: bolder;

}
.container p{
  color: #627382;

}
.footer {
  background: #001931;
  color: white;
  padding: 50px 80px;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0px;
}

.logo-area img {
  height: 50px;
}

.social-area p {
  margin: 0;
  font-size: 14px;
  text-align: right;
}

.icons {
  margin-top: 6px;
}

.icons a {
  display: inline-block;
  margin-left: 10px;
  text-decoration: none;
  color: white;
  border: 1px solid white;
  width: 26px;
  height: 26px;
  text-align: center;
  line-height: 26px;
  border-radius: 50%;
  font-size: 14px;
}

hr {
  border: none;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  margin: 25px 0;
}

.footer-bottom {
  text-align: center;
  font-size: 14px;
  color: #cbd5e1;
}